<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Médico</title>
</head>
<body>
    <center>
        <h1>🩺 Cadastro de Médico</h1>
        <hr width="60%">

        <form>
            <table cellpadding="6">
                <tr>
                    <td><label><b>Nome:</b></label></td>
                    <td><input type="text" name="nome" placeholder="Digite o nome completo"></td>
                </tr>
                <tr>
                    <td><label><b>Especialidade:</b></label></td>
                    <td>{{ form.especialidade }}</td>
                </tr>
            </table>
            <br>
            <input type="submit" value="Salvar">
            <input type="reset" value="Limpar">
        </form>

        <p><a href="home.html">↩️ Voltar à listagem</a></p>
    </center>
</body>
</html>
