{% extends 'base.html' %}

{% block title %} Lista de Médicos - Sistema Hospitalar {% endblock %}

{% block content %}
<center>
    <h1>⚕️ Listagem de Médicos</h1>
    <hr width="60%">
    
    <p><a href="{% url 'criar_medico' %}">➕ Novo Médico</a></p>

    <table border="1" cellpadding="8" cellspacing="0" width="60%">
        <tr bgcolor="#f2f2f2">
            <th>ID</th>
            <th>Nome</th>
            <th>Especialidade</th>
            <th>Ações</th>
        </tr>

        {% for m in medico %}
        <tr align="center">
            <td>{{ m.id }}</td>
            <td>{{ m.nome }}</td>
            <td>{{ m.especialidade }}</td>
            <td>
                <a href="{% url 'editar_medico' m.id %}">Editar</a> |
                <a href="{% url 'excluir_medico' m.id %}">Excluir</a>
            </td>
        </tr>
        {% empty %}
        <tr align="center">
            <td colspan="4">Nenhum médico cadastrado.</td>
        </tr>
        {% endfor %}
    </table>

    <p><a href="/">🏠 Voltar à página inicial</a></p>
</center>
{% endblock %}
